<div class="container mt-4">
    <h3 class="title">Employees</h3>

  <div class="row" style="display: contents; margin-bottom: 20px">
    <div class="col" *ngFor="let employee of employees">
      <div class="card h-100 space "(click)="viewEmployee(employee)">
        <div class="image-container">
          <img class="card-img-top size-img" src="{{employee.profile_image}}"
            alt="s">
        </div>
        <div class="card-body">
          <h6 class="text-muted mt-4 size-letter-small">Name</h6>
          <h5 class="card-title size-letter-smaller"> {{employee.employee_name }}</h5>
        </div>
        <div class="card-body">
          <h6 class="text-muted mt-4 size-letter-smaller">Age</h6>
          <p class="card-text size-letter-small">{{employee.employee_age}} </p>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
