.title{
  text-align: center;
    color: #999;
}

.image-container {
  display: flex;
  align-items: center;
}

.size-img {
  width: 8vh;
  height: 8vh;
  border-radius: 40%;
  padding: 1vh;
}

.space {
  margin-bottom: 4vh;
  flex-direction: row;
  width: 100%;
  box-shadow: 0vh 2vh 1.4vh rgb(210, 210, 210);
  height: 16vh !important;
  border: 0;
}

.size-letter-small {
  font-size: small;

}

.size-letter-smaller {
  font-size: smaller;
}
