
  <h3 class="title">Employee</h3>

<div class="container mt-4">
  <img src="{{ employee.profile_image }}" class="img-fluid size-img" alt="{{
    employee.employee_name
    }}">
  <div *ngIf="!this.isEditing">
    <div>
      <h3 class="text-muted mt-4 size-letter-small">Full name</h3>
      <h1 class="size-letter-smaller">{{ employee.employee_name }}</h1>
    </div>
    <div>
      <h3 class="text-muted mt-4 size-letter-small">Age</h3>
      <h1 class="size-letter-smaller">{{ employee.employee_age }}</h1>
    </div>
    <div>
      <h3 class="text-muted mt-4 size-letter-small">Employee salary</h3>
      <h1 class="size-letter-smaller">{{ employee.employee_salary }}</h1>
    </div>
  </div>

  <div *ngIf="this.isEditing">
    <form [formGroup]="employeeForm">
      <div>
        <h3 class="text-muted mt-4">Full name</h3>
        <input type="text" formControlName="employee_name">
      </div>
      <div>
        <h3 class="text-muted mt-4">Age</h3>
        <input type="number" formControlName="employee_age">
      </div>
      <div>
        <h3 class="text-muted mt-4">Employee salary</h3>
        <input type="number" formControlName="employee_salary">
      </div>
    </form>
  </div>



  <div class="d-flex justify-content-around mt-4">
    <button class="btn btn-outline-primary btn-lg " style="border: 1px solid rgba(153, 153, 153, 0.749);" (click)="toggleEdit()"><p class="buttons">Edit profile</p> </button>
    <button class="btn btn-primary btn-lg "(click)="saveChanges()" style="background: linear-gradient(to right, #99c0ff,#4286f4); border: 0.5px solid #99c0ff"><p  class="buttons">Save Changes</p></button>
  </div>

</div>
