.title {
  text-align: center;
  color: #999;
}
.size-img {
  width: 50vh;
  height: 28ch;
  border-radius: 15%;
  padding: 0vh;

}

.buttons {
  font-size: 1.5vh;
  height: 2.5vh;
  width: 14vh;
  margin: 0.5vh;
  font-weight: 500;
}
.size-letter-small {
  font-size: small;

}

.size-letter-smaller {
  font-size: smaller;
}
